<footer class="border-t-2 border-stone-200 p-5 dark:border-stone-700">
  <div class="container mx-auto">
    <p class="text-center">
      Created by
      <a
        href="https://k11v.cc/"
        target="_blank"
        class="font-medium text-stone-900 underline dark:text-white"
        >k11v</a
      >. Open-sourced on
      <a
        href="https://github.com/k11v/brick"
        target="_blank"
        class="font-medium text-stone-900 underline dark:text-white"
        >GitHub</a
      >.
    </p>
  </div>
</footer>
