<footer class="border-t-2 border-stone-200 p-5 dark:border-stone-700">
  <div class="container mx-auto">
    <p class="text-center text-sm">
      Created by
      <a
        href="https://k11v.cc/"
        target="_blank"
        class="font-medium text-stone-900 underline dark:text-white"
        >k11v</a
      >. Licensed under
      <a
        href="https://opensource.org/license/mit"
        target="_blank"
        class="font-medium text-stone-900 underline dark:text-white"
        >MIT</a
      >.
    </p>
  </div>
</footer>
