<header class="border-b-2 border-stone-200 px-2 py-4 dark:border-stone-700">
  <div class="container mx-auto flex items-baseline gap-x-2">
    <a href="/" class="block">
      <span
        class="kanit-medium text-2xl font-bold text-stone-900 dark:text-white"
        >B<span class="text-red-700 dark:text-red-500">rick</span></span
      >
    </a>
    <button type="button" class="ml-auto block self-center">
      <img src="https://picsum.photos/id/42/200" class="size-8 rounded-full" />
    </button>
  </div>
</header>
