{{define "build"}}
<div>
  <h2>Queued</h2>
  <div>
    <div>2:30 PM</div>
    <div>7 files</div>
  </div>
  <p>The build is queued.</p>
  <button class="block" type="button">Cancel</button>
</div>
{{end}}

{{define "buildQueued"}}
<div>
  <h2>Queued</h2>
  <div>
    <div>2:30 PM</div>
    <div>7 files</div>
  </div>
  <p>The build is queued.</p>
  <button class="block" type="button">Cancel</button>
</div>
{{end}}

{{define "buildCompleted"}}
<button class="block" type="button">Re-build</button>
<div>
  <h2>Completed</h2>
  <div>
    <div>2:30 PM</div>
    <div>7 files</div>
  </div>
  <p>The PDF file is ready.</p>
  <button class="block" type="button">Download</button>
</div>
{{end}}

{{define "buildFailed"}}
<button class="block" type="button">Re-build</button>
<div>
  <h2>Failed</h2>
  <div>
    <div>2:30 PM</div>
    <div>7 files</div>
  </div>
  <p>The build has failed.</p>
  <button class="block" type="button" disabled>Download</button>
</div>
{{end}}

{{define "buildCanceled"}}
<button class="block" type="button">Re-build</button>
<div>
  <h2>Canceled</h2>
  <div>
    <div>2:30 PM</div>
    <div>7 files</div>
  </div>
  <p>The build is canceled.</p>
  <button class="block" type="button" disabled>Download</button>
</div>
{{end}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta charset="utf-8">
    <meta name="description" content="Brick is a service that builds PDF files from Markdown files.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <title>Brick</title>
  </head>
  <body>
    <header>
      <a href="/" class="block">Brick</a>
      <div>
        <a href="/examples" class="block">Examples</a>
        <a href="/user" class="block"><img src="https://emojicdn.elk.sh/%F0%9F%91%A4" alt="User" class="size-8 rounded-full" /></a>
      </div>
    </header>
    <main>
      <p>Brick is a service that builds PDF files from Markdown files.</p>
      <form hx-post="/build-create-form" hx-target="#result" hx-encoding="multipart/form-data">
        <section>
          <h2 id="file-1">main.md</h2>
          <textarea name="file-1" aria-labelledby="file-1" class="block"></textarea>
        </section>
        <button type="submit" class="block">Build</button>
      </form>
      <div id="result"></div>
    </main>
    <footer>
      <p><a href="https://k11v.cc/" target="_blank">k11v</a> built this service — brick by brick.</p>
      <p>Source code is available on <a href="https://github.com/k11v/brick" target="_blank">GitHub</a>.</p>
    <footer>
  </body>
</html>
