<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Brick is a service that builds PDF files from Markdown files.">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>Brick</title>
  </head>
  <body>
    {{block "header" .}}{{end}}
    {{block "main" .}}
    <main>
      <h1>Main</h1>
    </main>
    {{end}}
    {{block "footer" .}}{{end}}
  </body>
</html>
